DB_HOST=localhost
DB_PORT=3306
DB_NAME=sekum_db
DB_USER=root
DB_PASS=
DB_SSL_MODE=disable
DB_CHARSET=utf8mb4
APP_ENV=local
APP_URL=http://localhost/Procurement
MPESA_ENV=sandbox
MPESA_CONSUMER_KEY=
MPESA_CONSUMER_SECRET=
MPESA_SHORTCODE=
MPESA_PASSKEY=
MPESA_CALLBACK_URL=
MPESA_TRANSACTION_TYPE=CustomerPayBillOnline
